<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Currency Tracker" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Currency Tracker" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <script type="text/javascript" src="https://www.google.com/jsapi"></script>	
      <script type="text/javascript"> 
	  google.load('visualization', '1.0', {'packages':['corechart']}); 
	</script>
    <%= csrf_meta_tags %>
  </head>
  <body>
  	<div id="progress" style="display: none;"><img alt="Progress" src="/assets/loading.gif"><br>Please wait...</div>
    <header>
      <%= render 'layouts/top_navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
